/* @import 'variables.css'; */

/* Index */
.Intro h2{
  font-family: var(--font-family-secondary);
  font-size: 48px;
  font-weight: 100;   
}
body.background1, body.background2, body.background3 {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body, body.background1 {
  background-image: url('../images/image1.jpg');
}
body.background2 {
  background-image: url('../images/image2.jpg');
}
body.background3 {
  background-image: url('../images/image3.jpg');
}

.ambiance-musics {
    display: flex;
}

.headband {
  color: black;
  background-color: white;
  font-family: var(--font-family-secondary);
  font-size: 40px;
  width: 100%;
  display: flex;
  gap: 60px;
  overflow: hidden;
  white-space: nowrap;
}
.headband p {
  animation: scrollText 20s linear infinite;
}
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); /* Déplacement du texte vers la gauche */
  }
}
/* Slider de AVIS */
/* .avis {
    .slider {
        height: 350px; // il faudra le retirer peut etre
        .slider-items {
            color: black;
            background-color: white;
        }
        .slider-dots {
            display: flex;
            // li button {
            //     border: none;
            //     background-color: $yellow-color;
            //     width: 10px;
            //     height: 10px;
            //     border-radius: 50%;
            // }
        }
        .slick-dots li button::before {
            font-size: 20px;
            color: $yellow-color;
        }
        .slick-prev::before, .slick-next::before {
            display: none;
        }
        .slick-prev, .slick-next {
            width: 100px;
            height: 100px;
        }
    }
}
*/


/* Mariage */
/* Soirees */
/* Evenements */