@import 'variables.css';

@import 'layout.css';
@import '../styles/components/header.css';
@import '../styles/components/footer.css';
@import '../styles/components/avis.css';
@import '../styles/components/modal.css';

/* Général */
body {
    margin: 150px 0 0 0;
    font-family: var(--font-family-primary);
    color: white;
    background-color: var(--color-grey);
    text-align: center;
}
h1 {
    display: none;
}
h2 {
    font-size: 64px;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li {
    list-style: none;
}
figure {
    margin-inline-start: 0;
    margin-block-start: 0;
}

/* All pages */
main {
    display: flex;
    flex-direction: column;
    gap: 450px;
    margin-top: 600px;
}
section {
    height: var(--height-section);
    background-color: var(--color-grey);
}
