/* // Polices
$main-font-family: "Baloo 2", sans-serif;
$second-font-family: "Hurricane", cursive;

// Colors
$grey-color:#3A353A;
$yellow-color:#FDE400;
$blue-color:#16D4F7;
// $radial-background-color: radial-gradient(circle, rgba(76,176,169,0.7) 0%, rgba(0,0,0,0.9) 100%);

// // Breakpoints
// $mobil-max: 819px;
// $tablet-min: 820px;
// $tablet-max: 1023px; */
/* variables.css */

:root {
    --font-family-primary: "Baloo 2", sans-serif;
    --font-family-secondary: "Hurricane", cursive;
    --color-grey: #3A353A;
    --color-yellow: #FDE400;
    --color-blue: #6272F0;
    --color-blue-light: #16D4F7;
    --width-figure: 350px;
    --width-header-buttons: 100px;
    --width-music-buttons: 320px;
  }  
